apiVersion: v1
kind: ConfigMap
metadata:
  name: ovn-bgp-agent-config
  namespace: openshift-ovn-kubernetes
data:
  # oslo.config file for upstream ovn-bgp-agent
  # This configures the agent to use the vpnv4_driver
  ovn-bgp-agent.conf: |
    [DEFAULT]
    driver = vpnv4_driver
    reconcile_interval = 300
    frr_reconcile_interval = 15
    
    # BGP base settings
    bgp_AS = 65000
    bgp_router_id = 10.255.0.2
    
    # VPNv4-specific settings
    vpnv4_output_dir = /etc/frr/vpnv4
    vpnv4_rd_base = 65000
    vpnv4_rt_base = 65000
    vpnv4_router_id = 10.255.0.2
    vpnv4_peers = 192.0.2.11:65101:fortigate-1,192.0.2.12:65102:fortigate-2,192.0.2.13:65103:fortigate-3
    
    # OVSDB connection
    ovsdb_connection = unix:/var/run/openvswitch/db.sock
    ovsdb_connection_timeout = 180
    
    [ovn]
    ovn_nb_connection = tcp:127.0.0.1:6641
    ovn_sb_connection = tcp:127.0.0.1:6642

